* {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-start: 0;
  scroll-margin-inline-end: 0;
  padding: 0;
  box-sizing: border-box;
}

sup {
  color: #ff0000;
  font-size: 14px;
}

.wrapper {
  max-width: 800px;
  padding: 40px;
}

.textarea {
  padding: 0.5ex;
  height: 128px;
  width: 80ex;
  resize: none;
}

.on {
  background-color: #00ff00 !important;
}

.caps_indicator {
  float: right;
  margin: 0 40px 10px 0;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
}

.keyboard_container {
  padding: 5px 5px 15px 5px;
  background-color: #f2f2f2;
  border-top: 1px solid #adacac;
  border-right: 1px solid #adacac;
  border-left: 5px solid #adacac;
  border-bottom: 5px solid #adacac;
  border-radius: 15px;
}

.keyboard_keys {
  display: grid;
  grid-template-areas:
    "Backquote Digit1 Digit2 Digit3 Digit4 Digit5 Digit6 Digit7 Digit8 Digit9 Digit0 Minus Equal Backspace"
    "Tab KeyQ KeyW KeyE KeyR KeyT KeyY KeyU KeyI KeyO KeyP BracketLeft BracketRight Enter"
    "CapsLock KeyA KeyS KeyD KeyF KeyG KeyH KeyJ KeyK KeyL Semicolon Quote Backslash Enter"
    "ShiftLeft KeyZ KeyX KeyC KeyV KeyB KeyN KeyM Comma Period Slash ShiftRight ArrowUp Delete"
    "ControlLeft AltLeft MetaLeft Space Space Space Space Space Space AltRight ControlRight ArrowLeft ArrowDown ArrowRight";
  justify-items: center;
  gap: 10px 10px;
  width: 100%;
}

.key {
  padding: 0 2px;
  min-width: 25px;
  min-height: 25px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 5px rgb(154, 154, 154);
  border: 1px solid #000000;
  border-radius: 5px;
}

.key-special {
  background-color: #dbd8d8;
}

.key_pressed {
  background-color: #00a0a0;
  box-shadow: 0 5px rgb(104, 103, 103);
  transition: 0.1s ease-in-out;
  transform: translateY(4px);
}

#Space {
  justify-self: stretch;
}

#ArrowLeft {
  justify-self: end;
}

#ArrowRight {
  justify-self: start;
}
